<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Update User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5">
	<h3> Update Student</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#"
						th:action="@{/cars/update/{id}(id=${car.id})}"
						th:object="${car}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="mark" class="col-form-label">Mark</label> <input
									type="text" th:field="*{mark}" class="form-control" id="mark"
									placeholder="Mark"> <span
									th:if="${#fields.hasErrors('mark')}" th:errors="*{mark}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="model" class="col-form-label">Model</label> <input
									type="text" th:field="*{model}" class="form-control" id="model"
									placeholder="Model"> <span
									th:if="${#fields.hasErrors('model')}" th:errors="*{model}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="Year" class="col-form-label">Year</label> <input
									type="text" th:field="*{Year}" class="form-control"
									id="year" placeholder="Year"> <span
									th:if="${#fields.hasErrors('year')}" th:errors="*{year}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="Price" class="col-form-label">Price</label> <input
									type="text" th:field="*{Price}" class="form-control"
									id="price" placeholder="Price"> <span
									th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="Buyer.name" class="col-form-label">Buyer Name</label> <input
									type="text" th:field="*{Buyer.name}" class="form-control"
									id="Buyer.name" placeholder="name"> <span
									th:if="${#fields.hasErrors('Buyer.name')}" th:errors="*{Buyer.name}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="Buyer.number" class="col-form-label">Buyer Number</label> <input
									type="text" th:field="*{Buyer.number}" class="form-control"
									id="Buyer.number" placeholder="number"> <span
									th:if="${#fields.hasErrors('Buyer.number')}" th:errors="*{Buyer.number}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="Buyer.address" class="col-form-label">Buyer address</label> <input
									type="text" th:field="*{Buyer.address}" class="form-control"
									id="Buyer.address" placeholder="address"> <span
									th:if="${#fields.hasErrors('Buyer.address')}" th:errors="*{Buyer.address}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<input type="submit" class="btn btn-primary"
									value="Update Car">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>